header.profile {
  position: fixed;
  z-index: 1;
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
