nav {
  position: fixed;
  z-index: 2;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav > span {
  font-family: 'Bungee', cursive;
}

#nav-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#nav-tweet > i {
  color: red  ;
}